body{
  background-color: rgb(234, 234, 241);
}

.App {
  text-align: center;
}

.navbar-head{
   height: 80px;
   font-weight: bolder;
   background-color:white;
   box-shadow: 3px 3px 3px 3px #ccc;
}

.input-group > .form-control{
  width:400px;
}
.inputWithIcon input[type=text]{
  padding-left: 40px;
}

.inputWithIcon{
  position:relative;
  color: #aaa;
  transition: .3s;
}
i{
  left: 10px;
  padding-top: 10px;
  color: rgb(148, 187, 226);
}
.inputWithIcon input[type = text]:focus + i {
  color: dodgerblue;
}

.inputWithIcon i {
  position: absolute;
}

.form-control{
  width: 400px;
}

.dropdown-color{
  background-color:white;
}
 
 .card {
  transition: 200ms;
  cursor: pointer;
  height: 350px;

}
.card:hover{
  transform: scale(1.05);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.card-title{  
  display: inline-flex;
  font-weight: bolder;
  font-size: 15px;
  padding-left: 10px;
}

.card-body{
  border: 0.2px solid whitesmoke;
  height: 200px;
  padding-left: 2px;
}
.card-img {
  height: 180px;
  padding-top: 0px;
  border: 0.3px solid rgb(241, 232, 232);
}
.card-img-top{
  height: 180px;
}

.card-text-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.card-text {
  font-size: medium;
  margin-bottom: 1px;
  padding-left: 0.5rem;
}